---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About" description="uranari について">
  <article class="prose">
    <h1>About</h1>
    <p>uranariです。</p>
    <p>都内のIT系の会社で働いています。</p>
    <p>twitter:@uranariz</p>
  </article>
</BaseLayout>
